annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
blinker==1.8.2
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
fastapi==0.110.2
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
gevent==24.2.1
geventhttpclient==2.2.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
locust==2.27.0
MarkupSafe==2.1.5
msgpack==1.0.8
outcome==1.3.0.post0
packaging==24.0
pluggy==1.4.0
psutil==5.9.8
pycparser==2.22
pydantic==2.7.0
pydantic_core==2.18.1
pytest==8.1.1
pytest-asyncio==0.23.6
pyzmq==26.0.3
requests==2.31.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.37.2
trio==0.25.1
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.29.0
Werkzeug==3.0.3
zope.event==5.0
zope.interface==6.4
